#super_form fieldset {
  overflow: scroll;
}

#super_form td input {
  width: 50px;
}

#super_form table tr th {
  text-align: center;
}

#super_form tr td:nth-child(4n+5),
#super_form tr td:last-child {
  background-color: #a7a7a7;
}
